In [47]:
from py5paisa import FivePaisaClient
import pandas as pd
import datetime
import numpy as np
import hvplot.streamz
from streamz.dataframe import Random
import hvplot.pandas
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import time
from py5paisa.order import Order, OrderType, Exchange

In [2]:
credential = {
                "APP_NAME":"5P59126603",
                "APP_SOURCE":"15300",
                "USER_ID":"aFVl5FWKMPd",
                "PASSWORD":"CuQ6IBfwHEd",
                "USER_KEY":"FYT5lJ0nLVeUhxb0e0e5Qd6CiaKQVdRy",
                "ENCRYPTION_KEY":"0OpRfBtTSf68WZUa1ZsiPReeOPg5lukc",
                "REDIRECT_URL":"https://dev-openapi.5paisa.com/WebVendorLogin/VLogin/Index?VendorKey=<Your Vendor Key>&ResponseURL=<Redirect URL>&State=<Pass reference value if needed>"
             }

In [3]:
client = FivePaisaClient(cred=credential)
token_url = "https://dev-openapi.5paisa.com/WebVendorLogin/VLogin/Index?VendorKey=DjrWo46iW54tYw8EgR5pBdf7ZgU32cwm&ResponseURL=https://www.google.com"

In [4]:
TOTP = input()
token = client.get_request_token(client_code="59126603", totp=TOTP, pin=898346)
client.get_access_token(request_token=token)

 625706

 09:59:59 | RequestToken: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1bmlxdWVfbmFtZSI6IjU5MTI2NjAzIiwicm9sZSI6IkZZVDVsSjBuTFZlVWh4YjBlMGU1UWQ2Q2lhS1FWZFJ5IiwiU3RhdGUiOiIiLCJuYmYiOjE2ODU1MDczOTksImV4cCI6MTY4NTUwNzQ1OSwiaWF0IjoxNjg1NTA3Mzk5fQ.v3X5wpmlzpnPVsFIE07h_1ZevSorYw_j9ltpJIzfn60
 09:59:59 | Logged in!!

'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1bmlxdWVfbmFtZSI6IjU5MTI2NjAzIiwicm9sZSI6IjE1MzAwIiwiU3RhdGUiOiIiLCJSZWRpcmVjdFNlcnZlciI6IkEiLCJuYmYiOjE2ODU1MDczOTksImV4cCI6MTY4NTU1Nzc5OSwiaWF0IjoxNjg1NTA3Mzk5fQ.ViZ2GbGhCLz2-ejpYR4RIE7NioBaLAqvNEJcvxN8jJM'

In [5]:
def totalHoldings():
    hold = client.holdings()
    equity = pd.DataFrame(hold)
    col = ["Symbol", "BseCode", "NseCode", "Quantity", "AvgRate", "CurrentPrice", "Exch", "ExchType"]
    equity = equity[col]
    return equity

In [6]:
totalHoldings()

,Symbol,BseCode,NseCode,Quantity,AvgRate,CurrentPrice,Exch,ExchType
0,SUZLON,532667,12018,1,7.1000,11.45, ,C
1,TATAMOTORS,500570,3456,1,493.5000,522.05, ,C
2,ITI,523610,1675,2,95.1000,105.60, ,C
3,BANKBARODA,532134,4668,4,182.7000,182.85, ,C
4,ADANIPORTS,532921,15083,1,694.3000,730.90, ,C
5,NCLRESE,530557,0,200,1.9950,0.40, ,C
6,ONGC,500312,2475,1,166.3500,156.80, ,C
7,JPINFRATEC,533207,0,200,3.2100,1.27, ,C
8,BHEL,500103,438,2,35.4250,81.65, ,C
9,GTLINFRA,532775,13745,200,1.5750,0.75, ,C
10,JKTYRE,530007,14435,5,141.8900,184.30, ,C
11,VISESHINFO,532411,7303,200,1.5000,0.45, ,C
12,TATAPOWER,500400,3426,1,202.0000,216.75, ,C
13,UNIONBANK,532477,10753,13,39.8269,70.20, ,C
14,AGROPHOS,0,9046,20,24.2500,34.55, ,C
15,GOKULAGRO,539725,14480,1,102.7000,99.95, ,C
16,INDOSOLAR,533257,0,100,3.8500,3.21, ,C
17,TATASTEEL,500470,3499,8,107.4250,106.55, ,C
18,HCL-INSYS,500179,1327,24,14.8042,13.75, ,C
19,APOLLOTYRE,500877,163,1,362.0500,389.95, ,C
20,IOC,530965,1624,1,85.7000,91.35, ,C

In [7]:
def margin():
    margin = client.margin()
    margin = pd.DataFrame(margin)
    margin = margin.melt(var_name="Margin", value_name="Rupee")
    return margin

In [8]:
def position():
    pos = client.positions()
    if len(pos)==0:
        return -1
    pos = pd.DataFrame(pos)
    col = ["ScripName", "ScripCode", "Exch", "ExchType", "OrderFor", "BuyQty", "BuyAvgRate", "BuyValue", "SellQty", "SellAvgRate", "SellValue", "NetQty", "BookedPL"]
    pos = pos[col]
    return pos

In [9]:
def position_con():
    script = position()
    if script==-1:
        return "you have no executed order.."
    cod = input("Enter Script Symbol or Code : ")
    netqty = script[script[1]==cod][-2]
    if cod.isdigit():
        if cod in script["ScripCode"]:
            exc = script[script["ScripCode"]==cod]["Exch"]
            ext = script[script["ScripCode"]==cod]["ExchType"]
            conv = script[script["ScripCode"]==cod]["OrderFor"]
            qty = input("Quantity to Convert : ")
            client.position_convertion(Exch=exc, ExchType=ext, ScripData=cod, ConvertFrom=conv, ConvertQty=qty)
            name = script[script["ScripCode"]==cod]["ScripName"]
            return f"ScriptCode {cod} having Symbol {name} converted Quantity {qty} out of {netqty} successfully.."
        else:
            return f"No {cod} order executed..."
    else:
        if cod in script["ScripName"]:
            exc = script[script["ScripName"]==cod]["Exch"]
            ext = script[script["ScripName"]==cod]["ExchType"]
            conv = script[script["ScripName"]==cod]["OrderFor"]
            qty = input("Quantity to Convert : ")
            client.position_convertion(Exch=exc, ExchType=ext, ScripData=cod, ConvertFrom=conv, ConvertQty=qty)
            code = script[script["ScripName"]==cod]["ScripCode"]
            return f"ScriptCode {cod} having Symbol {code} converted Quantity {qty} out of {netqty} successfully.."
        else:
            return f"No {cod} order executed..."

In [10]:
def plotGraph(symbol, price):
    data = {
            'Company': symbol,
            'CurrentPrice': price
           }
    df = pd.DataFrame(data)

    # Create the line plot
    line_plot = df.hvplot.line(x='Company', y='CurrentPrice')
    # Display the line plot
    line_plot

In [11]:
#live quotation 
def on_message(ws, message):
    print(message)
def liveQuotation(exch, exchtype, code):
    req_list = [{"Exch":exch,"ExchType":exchtype,"ScripCode":code}]
    req_data=client.Request_Feed('mf','s',req_list)
    client.connect(req_data)
    client.receive_data(on_message)

In [32]:
def historicData(exch, exct, code, interval, startdate, enddate):
    df = client.historical_data(exch, exct, code, interval, startdate, enddate)
    return df

In [40]:
def CurrentPrice(exch:str, exct:str, symbol:str):
    a=[{"Exchange":exch,"ExchangeType":exct,"Symbol":symbol}]
    gtl = client.fetch_market_depth_by_symbol(a)
    gtl = pd.DataFrame(gtl["Data"])
    gtl = gtl.LastTradedPrice
    return gtl[0]

In [29]:
hist_data = client.historical_data(
                                    'N',# str(input("N:NSE, B:BSE : ")),
                                    'C',# str(input("C or D or U : ")),
                                    13745,# int(input("ScripCode : ")),
                                    '1m',# str(input("Interval 1m, 5m, 15m, 1d : ")),
                                    "2022-05-31",# str(input("Start Date yyyy-mm-dd : ")),
                                    "2023-05-30"# str(input("End Date yyyy-mm-dd : ")) 
                                  )
#hist_data = pd.DataFrame(hist_data)
hist_data#["Datetime"] = pd.to_datetime(hist_data["Datetime"])

Empty DataFrame
Columns: []
Index: []

In [19]:
hist_data = historicData()

N:NSE, B:BSE :  B
C or D or U :  X
ScripCode :  532411
Interval 1m, 5m, 15m, 1d :  1m
Start Date yyyy-mm-dd :  2022-05-31
End Date yyyy-mm-dd :  2023-05-30

In [46]:
try:
    while True:
        cur_price = CurrentPrice('B', 'C', 'GTLINFRA')
        print(cur_price)
        time.sleep(3)
except KeyboardInterrupt:
    pass

 10:32:36 | Success
0.79
 10:32:39 | Success
0.79
 10:32:42 | Success
0.79
 10:32:45 | Success
0.79
 10:32:48 | Success
0.79
 10:32:51 | Success
0.79
 10:32:54 | Success
0.79
 10:32:57 | Success
0.79
 10:33:01 | Success
0.79
 10:33:04 | Success
0.79
 10:33:07 | Success
0.79
 10:33:10 | Success
0.79
 10:33:13 | Success
0.79
 10:33:16 | Success
0.79
 10:33:19 | Success
0.79
 10:33:23 | Success
0.79
 10:33:26 | Success
0.79
 10:33:29 | Success
0.78
 10:33:32 | Success
0.78
 10:33:35 | Success
0.78
 10:33:38 | Success
0.78
 10:33:41 | Success
0.78
 10:33:44 | Success
0.78
 10:33:47 | Success
0.79
 10:33:51 | Success
0.79
 10:33:54 | Success
0.79
 10:33:57 | Success
0.79
 10:34:00 | Success
0.79
 10:34:03 | Success
0.79

In [88]:
def remove_bom(text):
    if isinstance(text, str):
        if text.startswith('\ufeff'):
            text = text[1:]
    elif isinstance(text, bytes):
        if text.startswith(b'\xef\xbb\xbf'):
            text = text[3:]
    return text

In [102]:
def placeOrder(ot:str, ex:str, ext:str, cod, qty:int, pr:int, itr=None, slp=None):
    mrg = client.margin()
    mrg = pd.DataFrame(mrg)
    mrg = mrg["ALB"][0]

    if mrg>=pr:    
        msg = client.place_order(
                                    OrderType=ot,
                                    Exchange=ex,
                                    ExchangeType=ext,
                                    ScripCode=cod,
                                    Qty=qty,
                                    Price=pr,
                                    IsIntraday=itr,
                                    StopLossPrice=slp
                                )
        
        if msg is not None:
            msg = remove_bom(msg)
            print(msg)
        else:
            print("Status unknown......")
    else:
        print("You have no enough margin to place this order.....")

In [103]:
placeOrder('B', 'B', 'C', 'ADANIPORT_EQ', 10, 0, False, 40)

 11:49:15 | Unexpected UTF-8 BOM (decode using utf-8-sig): line 1 column 1 (char 0)

TypeError: 'NoneType' object is not subscriptable

In [91]:
mrg = client.margin()
mrg = pd.DataFrame(mrg)
mrg = mrg["ALB"][0]
mrg

48.35