In [17]:
from IPython.display import clear_output
from py5paisa import FivePaisaClient
from py5paisa.order import Order, OrderType, Exchange
import pandas as pd
import time

In [25]:
class MyStock:
    #Authontikation and initializing
    def __init__(self):
        credential = {
                    "APP_NAME":"5P59126603",
                    "APP_SOURCE":"15300",
                    "USER_ID":"aFVl5FWKMPd",
                    "PASSWORD":"CuQ6IBfwHEd",
                    "USER_KEY":"FYT5lJ0nLVeUhxb0e0e5Qd6CiaKQVdRy",
                    "ENCRYPTION_KEY":"0OpRfBtTSf68WZUa1ZsiPReeOPg5lukc",
                    "REDIRECT_URL":"https://dev-openapi.5paisa.com/WebVendorLogin/VLogin/Index?VendorKey=<Your Vendor Key>&ResponseURL=<Redirect URL>&State=<Pass reference value if needed>"
                 }
        self.__client = FivePaisaClient(cred=credential)
        TOTP = int(input("Enter TOTP : "))
        token = self.__client.get_request_token(client_code="59126603", totp=TOTP, pin=898346)
        self.__client.get_access_token(request_token=token)
        
    #my current stock holdings
    def getMyStock(self):
        mystock = self.__client.holdings()
        df = pd.DataFrame(mystock)
        return df
    
    #margin avelible
    def getMargin(self):
        margin = self.__client.margin()
        margin = pd.DataFrame(margin)
        margin = margin.melt(var_name="Margin", value_name="Rupee")
        return margin
    
    #postion of executed
    def getPosition(self):
        df = self.__client.positions()
        df = pd.DataFrame(df)
        return df
    
    #convert intraday to derivative or vice-versa
    def converPosition(self):
        exName = input("Exchange N/B : ")
        exType = input("Exchange Type C/D : ")
        scripName = input("Scrip Name : ")
        conFrom = input("From Intraday(I)/Derivative(D) : ")
        conQty = input("Quantity : ")
        df = self.__client.position_convertion(exName, exType, scripName, conFrom, conQty)
        df = pd.DataFrame(df)
        return df
    
    #live data
    def __on_message(self, ws, message):
        print(message)
        time.sleep(3)
        clear_output()
    def liveQuotation(client, exch, exchtype, code):
        req_list = [{"Exch":exch,"ExchType":exchtype,"ScripCode":code}]
        req_data=self.__client.Request_Feed('mf','s',req_list)
        self.__client.connect(req_data)
        self.__client.receive_data(self.__on_message)
        
    #place order
    def placeOrder(self):
        exch = input("Exchange N/S/M : ")
        exchType = input("Exchange C/D/M : ")
        scrip = input("Scrip Code/Name : ")
        price = input("Price [0 for market] : ")
        qty = input("Quantity : ")
        ordertype = input("Order B/S : ")
        slp = input("Stop Loss Price : ")
        intra = input("Is intraday [Y/N] : ")
        try:
            if intra=="Y":
                intra = True
            else:
                intra = False
            if slp==None:
                slp = 0
                   
            df = self.__client.place_order(OrderType=ordertype, Exchange=exch, ExchangeType=exchType, ScripCode = scrip, Qty=qty, Price=price, IsIntraday=intra, StopLossPrice=slp)
            print("Order successfully placed......")
            df = pd.DataFrame(df)
            return df
        except Exception as e:
            print("Oreder not placed......")
            print(e)
            
    
    #order modification
    def modifyOrder(self):
        orderid = input("Enter order ID : ")
        qty = input("Quantity : ")
        price = input("Price : ")
        try:
            df = self.__client.modify_order(ExchOrderID=orderid, Qty=qty, Price=price)
            print("Order modified....")
            df = pd.DataFrame(df)
            return df
        except Exception as e:
            print("Order not modifyed.")
            print(e)
    
    #Cancel Order
    def cancelOrder(self):
        orderid = input("Exchange Order ID : ")
        try:
            df = self.__client.cancel_order(exch_order_id=orderid)
            print("Order cancelled....")
            df = pd.DataFrame(df)
            return df
        except Exception as e:
            print("Order not cancelled..")
            print(e)
    
    #Bulk Cancellation
    def bulkCancellation(self, num):
        cancel_bulk = []
        for i in range(num):
            dic = {"ExchOrderID":input(f"Exchange Order ID {i} : ")}
            List.append(dic)
        
        try:
            df = self.__client.cancel_bulk_order(cancel_bulk)
            print("Bulk order cancelled.....")
            df = pd.DataFrame(df)
            return df
        except Exception as e:
            print("Some or all order not cancelled......")
            print(e)
    
    #square of all
    def squareOfAll(self):
        try:
            df = self.__client.squareoff_all()
            print("all order quare of successfully.....")
        except Exception as e:
            print("not all square of...")
            print(e)
    
    #diplay order book
    def displayOrderBook(self):
        try:
            df = self.__client.order_book()
            df = pd.DataFrame(df)
            return df
        except Exception as e:
            print("Order boook not fetched now...")
            print(e)
    
    #display trade book
    def displayTradeBook(self):
        try:
            df = self.__client.get_tradebook()
            df = pd.DataFrame(df)
            return df
        except Exception as e:
            print("fetching trade book not possible now...")
            print(e)
    
    #display trade history
    def displayTradeHistry(self):
        orderid = input("Enter order ID : ")
        try:
            df = self.__client.get_trade_history(orderid)
            df = pd.DataFrame(df)
            return df
        except Exception as e:
            print("Displaying trade history not possible now...")
            print("Check order ID and try sometime later")
            print(e)

In [26]:
fp = MyStock()

Enter TOTP :  196006

 16:08:06 | RequestToken: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1bmlxdWVfbmFtZSI6IjU5MTI2NjAzIiwicm9sZSI6IkZZVDVsSjBuTFZlVWh4YjBlMGU1UWQ2Q2lhS1FWZFJ5IiwiU3RhdGUiOiIiLCJuYmYiOjE2ODY2NTI2ODYsImV4cCI6MTY4NjY1Mjc0NiwiaWF0IjoxNjg2NjUyNjg2fQ.qUSm4VcyiKDeF4AcTDx7wpdpNqqQoQ0hnFlFkDvrAUM
 16:08:06 | Logged in!!

In [27]:
fp.getMyStock()

,AvgRate,BseCode,CurrentPrice,DPQty,Exch,ExchType,FullName,NseCode,POASigned,PoolQty,Quantity,ScripMultiplier,Symbol
0,3.2100,533207,1.27,200, ,C,JAYPEE INFRATECH LTD,0,N,0,200,1,JPINFRATEC
1,182.7000,532134,187.25,4, ,C,BANK OF BARODA,4668,N,0,4,1,BANKBARODA
2,1.5000,532411,0.45,200, ,C,VISESH INFOTECNICS LTD,7303,N,0,200,1,VISESHINFO
3,24.2500,0,36.40,20, ,C,AGRO PHOS INDIA LIMITED,9046,N,0,20,1,AGROPHOS
4,1.9950,530557,0.39,200, ,C,NCL RESEARCH & FINANCIAL SERVI,0,N,0,200,1,NCLRESE
5,362.0500,500877,408.55,1, ,C,APOLLO TYRES LTD,163,N,0,1,1,APOLLOTYRE
6,141.8900,530007,190.85,5, ,C,JK TYRE & INDUSTRIES LTD,14435,N,0,5,1,JKTYRE
7,694.3000,532921,737.85,1, ,C,ADANI PORT & SEZ LTD,15083,N,0,1,1,ADANIPORTS
8,7.1000,532667,15.10,1, ,C,SUZLON ENERGY LIMITED,12018,N,0,1,1,SUZLON
9,95.1000,523610,108.50,2, ,C,ITI LTD,1675,N,0,2,1,ITI
10,102.7000,539725,108.05,1, ,C,GOKUL AGRO RESOURCES LTD,14480,N,0,1,1,GOKULAGRO
11,166.3500,500312,155.65,1, ,C,OIL AND NATURAL GAS CORP.,2475,N,0,1,1,ONGC
12,202.0000,500400,221.80,1, ,C,TATA POWER CO LTD,3426,N,0,1,1,TATAPOWER
13,107.4250,500470,111.15,8, ,C,TATA STEEL LIMITED,3499,N,0,8,1,TATASTEEL
14,39.8269,532477,72.25,13, ,C,UNION BANK OF INDIA,10753,N,0,13,1,UNIONBANK
15,85.7000,530965,91.90,1, ,C,INDIAN OIL CORP LTD,1624,N,0,1,1,IOC
16,493.5000,500570,562.20,1, ,C,TATA MOTORS LIMITED,3456,N,0,1,1,TATAMOTORS
17,35.4250,500103,85.10,2, ,C,BHEL,438,N,0,2,1,BHEL
18,1.5750,532775,0.80,200, ,C,GTL INFRA.LTD,13745,N,0,200,1,GTLINFRA
19,14.8042,500179,14.15,24, ,C,HCL INFOSYSTEMS LTD,1327,N,0,24,1,HCL-INSYS
20,3.8500,533257,3.21,100, ,C,INDOSOLAR LTD.,0,N,0,100,1,INDOSOLAR

In [28]:
fp.getMargin()

             Margin  Rupee
0               ALB  48.35
1             Adhoc   0.00
2   AvailableMargin  48.35
3               GHV   0.00
4            GHVPer   0.00
5       GrossMargin  48.35
6                Lb   0.00
7       Mgn4PendOrd   0.00
8      Mgn4Position   0.00
9           NDDebit   0.00
10  OptionsMtoMLoss   0.00
11             PDHV   0.00
12         Payments   0.00
13         Receipts   0.00
14              THV   0.00
15          UnclChq   0.00
16            Undlv   0.00

In [29]:
fp.getPosition()

Empty DataFrame
Columns: []
Index: []

In [31]:
fp.displayTradeBook()

 16:10:30 | No Trades found for this Client.

Empty DataFrame
Columns: [Message, Status, TradeBookDetail]
Index: []